* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, bottom right;
    background-color: #FFF8F3;
}

.primary-color {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;

}

nav .nav-title {
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav li {
    list-style: none;
    font-size: 20px;
    /* margin-left: 50px; */
    color: #474747;
}

.primary-btn {
    height: 60px;
    background: #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
    padding: 18px 35px;
    border: 0;
}

/* this is banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 38px 0 200px;
    justify-content: space-between;
}

.ban-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;

}

.ban-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.ban-discription {
    width: 650px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}

.secondery-btn {
    height: 60px;
    background: #524f4d;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    padding: 18px 35px;
    border: 0;
    margin-left: 30px;
}
.ban-img{
    height: 676px; width: 584px;
}

/* Main start form here */
main {
    max-width: 1140px;
    margin: 0 auto;


}

/* This is about section */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    margin-top: 120px;
    padding: 135px 100px;
}

.section-name {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}

.section-dis {
    font-size: 18px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}

.infomation-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.information {
    text-align: center;
}

.information-title {
    font-size: 20px;
    color: #757575;
    margin: 10px 0;
}

.information-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* This What I Do */
.wid {
    margin-top: 136px;
}

.wid-dis {
    max-width: 909px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 12px;

}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills-container img {
    margin-bottom: 30px;
}

.skill-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

.skill-dis {
    font-size: 16px;
    color: #757575;
}

/* resume */
.resume {
    margin-top: 130px;
}

.resume-container {
    display: flex;
    gap: 10px;
    margin-top: 113px;
}

.edu {
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}

.qulification hr {
    color: #757575;
    margin: 20px 0;
}

.qual-name {
    font-weight: 700;
    font-size: 25px;
}

.since {
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #757575;
}

.qual-dis {
    color: #757575;
    margin-bottom: 20px;
}

.resume-btn {
    margin-top: 50px;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FFF8F3;
    padding: 130px 0;
    margin-top: 50px;
}

.contact .section-name {
    text-align: left;
}

.contact p {
    color: #474747;
    padding-top: 20px;
    padding-bottom: 30px;
}

.contact a {
    text-decoration: none;
}

.contact-container {
    display: flex;
    gap: 100px;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
}

.connect {
    width: 50%;
}

.message input,
textarea {
    display: block;
    margin-bottom: 24px;
    width: 90%;
    padding: 18px 30px;
    color: #757575;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width:576px) {
    .header{
        background-image: none;
    }
    nav,
    .banner,
    .skills-container,
    .resume-container,
    .contact-container,
    .infomation-container {
        flex-direction: column;
        padding: 10px;
    }
    nav ul li> .primary-btn{
        padding: 0 18px;
    }
    .ban-discription{
        width: 95%;
    }
    .secondery-btn{
        margin-top: 10px;
    }
    .banner{
        align-items: flex-start;
        margin: 0 10px;
    }
    .banner img{
        width: 100%;
        object-fit: contain;
    }
    .wid {
        padding: 10px;
    }

    .contact-container {
        margin-top: 50px;
    }

    .about {
        padding: 10px;
    }

    .connect {
        width: 100%;
    }
}

@media screen and (min-width:577px) and (max-width:992px) {
    nav, .banner{
        flex-direction: column;
    }
    .banner .ban-img{
        width: 100%;
        object-fit: contain;
        margin-top: 30px;
    }
    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 20px;
    }

    .resume-container {
        padding: 20px;
    }

    .contact-container {
        width: 100%;
        padding: 0 20px;
    }
    .infomation-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-dis{
        padding: 0 100px;
    }
}

.hide {
    display: none;
}